@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-rgb: 0, 0, 0;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}

.font-space-grotesk {
  font-family: var(--font-space-grotesk), sans-serif;
}

.font-inter {
  font-family: var(--font-inter), sans-serif;
}

